# Requirements for developer machine
asn1crypto==1.5.1
awsiotsdk==1.17.0
bandit==1.7.5
boto3==1.28.25
botocore==1.31.25
cryptography==42.0.2
pylint==2.17.5
pytest==7.4.0
pytest-cov==4.1.0
pytest-mock==3.11.1
python-pkcs11==0.7.0
PyYAML==6.0.1
wheel
